In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [4]:
df = pd.read_csv("Ads_Optimisation.csv")
df

      Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0        1     0     0     0     1     0     0     0     1      0
1        0     0     0     0     0     0     0     0     1      0
2        0     0     0     0     0     0     0     0     0      0
3        0     1     0     0     0     0     0     1     0      0
4        0     0     0     0     0     0     0     0     0      0
...    ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
9995     0     0     1     0     0     0     0     1     0      0
9996     0     0     0     0     0     0     0     0     0      0
9997     0     0     0     0     0     0     0     0     0      0
9998     1     0     0     0     0     0     0     1     0      0
9999     0     1     0     0     0     0     0     0     0      0

[10000 rows x 10 columns]

In [5]:
import random
N = 10000
d = 10
ads_selected = []
total_reward = 0 
for m in range(N):
    ad = random.randrange(d)
    ads_selected.append(ad)
    reward = df.values[m,ad]
    total_reward = total_reward + reward

In [6]:
pd.Series(ads_selected).head(10000).value_counts(normalize=True)

1    0.1028
3    0.1024
8    0.1020
5    0.1016
2    0.0998
9    0.0997
6    0.0987
7    0.0983
4    0.0979
0    0.0968
dtype: float64

In [28]:
print(total_reward)

1220

### Implementing UCB

In [9]:
import math
N = 10000
d = 10
ads_selected = []
number_of_selection = [0]*d
sum_of_reward = [0]*d
total_reward = 0
for n in range(N):
    ad = 0 
    max_upper_bound = 0
    for i in range(d):
        if(number_of_selection[i] > 0):
            average_reward = sum_of_reward[i]/number_of_selection[i]
            delta_i = math.sqrt(2 * math.log(n+1)/number_of_selection[i])
            upper_bound = average_reward + delta_i
        else:
            upper_bound = 1e400
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ad = i
    ads_selected.append(ad)
    number_of_selection[ad] += 1
    reward = df.values[n,ad]
    sum_of_reward[ad] += reward
    total_reward += reward
print(total_reward)

2125

In [45]:
pd.Series(ads_selected).tail(1500).value_counts(normalize=True)

4    0.810000
0    0.077333
7    0.026667
3    0.024667
2    0.019333
6    0.019333
1    0.007333
8    0.006000
5    0.004667
9    0.004667
dtype: float64

### REDUCING SIZE OF THE LIST

In [10]:
import math
N = 10000
d = 10
ads_selected = []
number_of_selection = [0]*d
sum_of_reward = [0]*d
total_reward = 0
for n in range(5000):
    ad = 0 
    max_upper_bound = 0
    for i in range(d):
        if(number_of_selection[i] > 0):
            average_reward = sum_of_reward[i]/number_of_selection[i]
            delta_i = math.sqrt(2 * math.log(n+1)/number_of_selection[i])
            upper_bound = average_reward + delta_i
        else:
            upper_bound = 1e400
        if upper_bound > max_upper_bound:
            max_upper_bound = upper_bound
            ad = i
    ads_selected.append(ad)
    number_of_selection[ad] += 1
    reward = df.values[n,ad]
    sum_of_reward[ad] += reward
    total_reward += reward
print(total_reward)

993